<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="preload" as="font" type="font/woff2"
          href="/static/raleway-v14-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2"
          href="/static/roboto-v20-latin-300.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2"
          href="/static/roboto-v20-latin-regular.woff2" crossorigin>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="title">BEST WORKS OF CLASSICAL MUSIC</div>
        <div class="subtitle">Top lists as voted by <a href="https://www.talkclassical.com/17996-compilation-tc-top-recommended.html">talkclassical.com</a> members</div>
    </header>

    <div class="wrapper">
        <aside>
            <div class="menu">
                <div>
                    {% if selected_slug == "credits" %}
                    <span class="selected-menu-item">Credits</span>
                    {% else %}
                    <a href="/credits">Credits</a>
                    {% endif %}
                </div>
                <div>
                    {% if selected_slug == "top-composers" %}
                    <span class="selected-menu-item">Top composers</span>
                    {% else %}
                    <a href="/top-composers">Top composers</a>
                    {% endif %}
                </div>

                {% for item in menu %}
                <div>
                    {% if item.1 == selected_slug %}
                    <span class="selected-menu-item">{{ item.0 }}</span>
                    {% else %}
                    <a href="/{{ item.1 }}">{{ item.0 }}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </aside>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="author-ref">Content by <a href="https://talkclassical.com">Talk Classical forum members</a></div>
        <div class="icons">
            <div><a href="https://www.rust-lang.org"><img src="/static/rust-icon.svg" alt="Rust icon" /></a></div>
            <div><a href="https://github.com/Droidion/tc-recommended-rust"><img src="/static/github-icon.svg" alt="Github icon" /></a></div>
        </div>
    </footer>
</body>
</html>