{% extends "base.html" %}

{% block head %}
<title>{{ composer_name }} | Best Works of Classical Music</title>
<meta name="description" content="Best works by composer {{ composer_name }} as voted by members of talkclassical.com forum, grouped by genre">
{% endblock %}

{% block content %}
<h1>{{ composer_name }}</h1>
{% for item in items %}
<h2><a href="/{{ item.1 }}">{{ item.0 }}</a></h2>
{% for work in item.2 %}
<div>
    <span class="list-el-position">{{ work.position }}</span>
    <span class="list-el-work">{{ work.work }}</span>
</div>
{% endfor %}
{% endfor %}
{% endblock %}
