{% extends "base.html" %}

{% block head %}
<title>{{ title }} | Best Works of Classical Music</title>
<meta name="description" content="Best works of classical music as voted by members of talkclassical.com forum">
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p>All content on this site is an intellectual property of various <a href="https://www.talkclassical.com/">talkclassical.com</a> forum members. This humble site's creator deeply appreciates their work.</p>
<p>The following link was used for acquiring the data: <a href="https://www.talkclassical.com/17996-compilation-tc-top-recommended.html">https://www.talkclassical.com/17996-compilation-tc-top-recommended.html</a>.</p>
<p>This site is written in <a href="https://www.rust-lang.org">Rust</a> using <a href="https://github.com/actix/actix-web">actix-web</a>. Use Rust for web development. Rust is great.</p>
<p><a href="https://www.nordtheme.com">Nord</a> color scheme was used for design.</p>
<p>See the <a href="https://github.com/Droidion/tc-recommended-rust">source code</a>. Love classical music. Peace.</p>
{% endblock %}
