{% extends "base.html" %}

{% block head %}
<title>{{ list_name }} | Best Works of Classical Music</title>
<meta name="description" content="Best {{ list_name }} by different composers as voted by members of talkclassical.com forum">
{% endblock %}

{% block content %}
<h1>{{ list_name }}</h1>
{% for item in items %}
<div>
    <span class="list-el-position">{{ item.position }}</span>
    <span class="list-el-composer"><a href="/composer/{{ item.composer_slug }}">{{ item.composer_name }}</a></span>
    <span class="list-el-work">{{ item.work }}</span>
</div>
{% endfor %}
{% endblock %}
