@use "mixins";
@use "sizes";

footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: .5rem 0;
  width: 100%;

  @include mixins.breakpoint() {
    margin: 0 auto 2rem auto;
    width: sizes.$global-desktop-width;
  }

  .author-ref {
    margin-left: 1rem;
    font-size: .9rem;
  }

  .icons {
    align-items: center;
    display: flex;

    div {
      margin-right: 1rem;

      a {
        display: block;

        svg {
          display: block
        }
      }
    }
  }
}