.content {
  padding: .4rem 1rem 1rem 1rem;

  @include breakpoint() {
    flex: 1;
    padding: .4rem 2rem 1rem 2rem;
    width: initial;
  }

  div {
    margin-top: .8rem;
  }

  .list-el-composer {
    font-size: 1.1rem;
    font-weight: 300;
    padding-right: .4rem;
  }

  .list-el-position {
    font-size: 1.1rem;
    padding-right: .4rem;
  }

  .list-el-rate {
    color: white;
    font-size: .9rem;
  }

  .list-el-work {
    color: $accented-color-brighter;
    font-size: .9rem;
  }
}